@media screen and (max-width:576px) {


    header {
        width: 99.5vw;
        height: auto;
      
    }

   
    .navber-text {
        width: 85vw;
    }


    .navber-links {
        display: none;
    }

    .humbarg-bar {
        display: block;
        margin-right: 10px;
        padding: 10px;

    }

    .banner-container {
        flex-direction: column;
        width: 90vw;
        height: 85vh;
        gap: 0px;
       
    }



    .banner-container-text-title {
        font-size: 2.7rem;
        font-weight: 900;
        margin: 0%;


    }

    .banner-container-text {
        width: 90vw;
    }

   

    .btn-primary {
        padding: 10px 20px;
    }

    .btn-secondary {
        padding: 10px 20px;
    }

    .btn-container {
        justify-content: center;
        gap: 0px;
    }

    .banner-container-image {
        width: 90vw;

        margin-top: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
       



    }

    .banner-container-image>img {
        width: 70%;
        margin: 0 auto;
        height: 100%;


    }

    .vidio-tutorial,
    .free-workout {
        width: 165px;
        height: 70px;


        background-color: rgba(55, 52, 52, 0.885);
        position: absolute;
        border-radius: 12px;
        padding: 5px 0px;

    }

    

    .vidio-tutorial {
       left: 20px;
       bottom: 120px;
    }


    .vidio-tutorial-subtitle {
        font-size: 0.7rem;
    }

    .free-workout {
       left: 220px;
       bottom: 270px;
       padding-bottom: 20px;
       


    }

    .free-workout-title {
       
        font-size: 1.5rem;
        font-weight: 800;
 
       
    }


    .free-workout-subtitle {
        font-size: 0.7rem;
        line-height: 0px;
        letter-spacing: 0px;
        
    }

    /* change habit section style==================  */
    main{
       position: relative;
        height: none; 
        
    }

    .habit{
        height: auto;
    }
    .habit-contianer-text{
        width: 75vw;
        text-align: center;
      
    }
/* three  title class  */
    .habit-contianer-text-title,
    .bmi-calculator-container-title,
    .team-container-text-title,
    .upcoming-plan-container-text-title{
        font-size: 1.7rem;
        font-weight: 900;
        
    }

    .habit-contianer-card{
        grid-template-columns: 1fr;
       
    }

    .card{
        width:65vw ;
    
       
    
    }

    /* run section styles ===== */
    .run{
        height: max-content;
    }
    
    .run-container{
        flex-direction: column;
        gap: 10px;
        padding: 20px;
    }

    .run-container-text{
        width: 65vw;

    }

    .run-container-text-title{
        font-size: 2rem;
        font-weight: 900;
        margin: 0;
    }
    
    .run-container-text-subtitle{
        font-size: 1rem;
        margin-bottom: 20px;
    }
    
    .run-container-image{
        width: 65vw;
        height: auto;
        margin-top: 25px;
    }

    .run-container-image>img{
        width: 100%;
    }
    

    #mobile-btn{
        width: 65vw;
        padding: 15px 70px;
    }


    /* unieque section styles  */

    .upcoming-plan{
        margin-top: 50px;
        margin-bottom: 50px;
    }

    .upcoming-plan-container{
        height: auto;
    }

    .upcoming-plan-container-text-title {
        width: 75vw;
        margin: 5% auto;
        margin-top: 5px;
    }

    .upcoming-plan-container-text-subtitle {
        text-align: center;
        color: rgba(236, 5, 5, 0.938);
        font-family: Inter;
        font-size: 1rem;
        font-weight: 400;
        line-height: 25px;
        letter-spacing: 0.5px;
        margin-bottom: 0px;
    
    }

    .upcoming-plan-container-images{
        grid-template-columns: 1fr;
       
    }

    .images-card{
        width: 75vw;
    }

   
    






    /* bmi calculator section styles  */

    
    .bmi-calculator-container{
        width: 80vw;
        height: max-content;
        margin: 0 auto;
        text-align: left;

    }


    .bmi-chart{
        height: 90vh;
        margin-top: 10px;
    }
    
    .bmi-chart-container {
       
         flex-direction: column;
    }

    .bmi-table{
        width: 75vw;
    }

    .bmi-table-title{
        font-size: 1.3rem;
       
    }

    table{
        width: 75vw;
       
    }

    .bmi-input{
        width: 75vw;
        margin-top: 30px;
       
    }

    .height-container{

        width:calc(37.5vw - 10px) ;  
    }

    .factor-container{
  
        width:75vw ;
    }

  

    thead>tr>td{
        font-size: 1rem;
        font-weight: 700;
       
    }
    
    /* Team section styles =========== */

    .team{
        
        height: none;
    }

    .team-container-text{
        width: 75vw; 
    
    }

 
    .team-info{
       
        height: auto;
    }
    
    


    .team-info-container{
        grid-template-columns: repeat(1,1fr);
        gap: 25px;
    }



    .info-card{
        width:65vw ;    
        height: 28vh;
    }

    .info-card>img{
        width: 100%;
        height: 100%;
        border-radius: 15px;
        
    }


    footer{
        height: 100vh;
    }
    
    .footer-container{
        flex-direction: column;
    
    }

    .footer-container-text{
        width: 75vw;  
        
    }
    
    



}