@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

/* shape font style  */
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');


.inter-font {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: white;

}

.hide {
    display: none;
}

/* screen width 1920 px used zomm 100% */
body {
    /* max-width: 1920px; */
    margin: 0 auto;
    padding: 0;

    /* border: aquamarine 2px solid; */
}

/* shared styles  */

.display-flex {
    display: flex;
}

.display-grid {
    display: grid;
}

.btn-primary {
    background-color: rgb(230, 83, 60);
    border-radius: 42px;
    padding: 15px 40px;
    border: none;
    color: white;
    font-size: 1.1rem;
    font-weight: 600;
    cursor: pointer;


}



/* header section styles ============== */

/* navber ========= */

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(11, 7, 7, 0) 150%), linear-gradient(360.00deg, rgb(17, 17, 17), rgba(15, 14, 14, 0.346) 100%);
    width: 99.5vw;


    margin: 0% auto;

    /* border: rgb(72, 3, 234) 2px solid; */
}


.humbarg-bar {
    display: none;
}



.navber-text {
    justify-content: space-between;

    width: 75vw;

    margin: 0% auto;
    padding-top: 50px;
    align-items: center;


    /* border: hotpink 2px solid; */
}

.brand {
    color: rgb(230, 83, 60);

    font-size: 2.2rem;
    font-weight: 800;
    margin: 0px;
    font-style: italic;


}

.navber-links {
    width: 25vw;
    justify-content: space-between;
    font-size: 1.1rem;
    font-weight: 400;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 39px;
    padding: 2px;
    padding-right: 10px;
    align-items: center;





}

.navber-links li {

    list-style: none;


}

.nav-btn {
    background-color: rgb(230, 83, 60);
    border-radius: 46px;
    padding: 5px 20px;
    font-size: 1.1rem;
    font-weight: 600;

}


/* banner section styles============= */

.banner-container {
    width: 80vw;
    height: 80vh;
    margin: 0 auto;

    margin-top: 5%;
    align-items: center;
    gap: 200px;

    /* border: indianred 2px solid; */
}

.banner-container-text {
    width: 40vw;
    height: 50vh;


    /* border: dodgerblue 2px solid; */
}

.banner-container-text-title {
    font-size: 4.8rem;
    font-weight: 900;
    margin: 0%;
    line-height: 120%;


    /* font-style: italic; */

}

.shape-text {
    font-family: "Great Vibes", cursive;
    font-weight: 100;
    font-style: normal;
    font-size: 5.5rem;
}

.banner-container-text-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;

}

.btn-secondary {
    background-color: rgba(0, 0, 0, 0.186);
    border-radius: 42px;
    border: 1px solid rgb(255, 255, 255);
    padding: 15px 40px;
    color: white;
    font-size: 1.1rem;
    margin-left: 20px;
    cursor: pointer;


}

.btn-container {
    margin-top: 30px;
}

/* banner image section styels========== */

.banner-container-image {
    width: 25vw;
    height: 80vh;



    /* border: aqua 2px solid; */
}

.banner-container-image>img {
    width: 100%;
    height: 97%;
    margin-top: 20px;


    /* border: firebrick 2px solid; */
}

.vidio-tutorial,
.free-workout {
    width: 206px;
    height: 90px;

    background-color: rgba(55, 52, 52, 0.885);
    position: relative;
    border-radius: 12px;
    padding: 5px 0px;

    /* display: none; */



    border: rgba(38, 37, 37, 0.667) 1px solid;

}

.vidio-tutorial {
    bottom: 200px;
    right: 50px;

}

.ball {
    width: 40px;
    height: 40px;
    background-color: rgb(230, 83, 60);
    align-self: center;
    border-radius: 50%;
    margin: 20px;



}

.vidio-tutorial-title {
    color: rgb(250, 250, 249);

    font: size 1.5rem;

    font-weight: 900;
    line-height: 24px;
    letter-spacing: 0.3px;
    text-align: left;
    margin: 10px;



}

.vidio-tutorial-subtitle {
    color: rgba(239, 237, 232, 0.65);
    font-size: 1rem;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.5px;
    text-align: left;


}

.free-workout {
    bottom: 610px;
    left: 340px;
    background: rgba(255, 255, 255, 0.1);
    position: relative;


}

.free-workout-title {


    font-size: 2rem;
    font-weight: 800;
    line-height: 2rem;
    letter-spacing: 1px;
    text-align: left;
    margin: 10px 20px;
}

.free-workout-subtitle {
    color: rgba(255, 255, 255, 0.65);

    font-size: 0.9rem;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: left;
    margin: 0px 20px;

}

/* main section styles start  */

main {
    background-color: black;
    width: 99.5vw;
    height: 99.5;
    margin: 0 auto;
    padding: 30px 0px;

    /* border: orangered 2px solid; */
}

/* habit container section styles */


.habit {
    width: 75vw;
    height: 75vh;
    margin: 2% auto;

    /* border: white 2px solid; */
}

.habit-contianer-text {
    width: 30vw;
    height: 20vh;
    margin: 0 auto;

    text-align: center;


    /* border: darkblue 2px solid; */
}

/* four section title class */
.habit-contianer-text-title,
.bmi-calculator-container-title,
.team-container-text-title,
.upcoming-plan-container-text-title {
    font-size: 2.6rem;
    font-weight: 900;

}

/* eight section subtitle class */
.habit-contianer-text-subtitle,
.card-subtitle,
.images-card-subtitle,
.run-container-text-subtitle,
.bmi-calculator-container-subtitle,
.bmi-table-subtitle,
.team-container-text-subtitle,
.footer-container-text-subtitle {
    color: rgba(255, 255, 255, 0.5);
    font-family: Inter;
    font-size: 1rem;
    font-weight: 400;
    line-height: 25px;
    letter-spacing: 0.5px;

}

/* habit card section styles=== */

.habit-contianer-card {
    grid-template-columns: repeat(4, 1fr);
    width: 75vw;
    margin-top: 50px;
    gap: 50px;
    text-align: center;
    justify-items: center;



    /* border: rgb(14, 198, 42) 2px solid; */
}

.card {
    width: 14vw;

    /* border: indianred 2px solid; */

}

.card-image {
    width: 80%;
    border-radius: 50%;

    /* border: yellow 2px solid; */

}

.card-title,
.images-card-title {
    font-size: 1.5rem;
    font-weight: 500;

    margin-bottom: 5px;
}


/* run section styles=============  */

.run {
    background-color: rgba(74, 69, 69, 0.664);
    width: 75vw;
    height: 40vh;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 25px;


    /* border: fuchsia 2px solid; */

}

.run-container {
    justify-content: space-between;
    padding: 30px;
}

.run-container-text {
    width: 25vw;
    height: max-content;

    /* border: yellowgreen 2px solid; */
}

.run-container-text-title {
    font-size: 2.8rem;
    font-weight: 900;
    margin: 0;
}

.run-container-text-subtitle {
    margin-bottom: 20px;
}



.run-container-image {
    width: 25vw;
    height: 35vh;



    /* border: darkcyan 2px solid; */
}

.run-container-image>img {
    width: 100%;
    border-radius: 15px;
}


/* unique section styles ============== */

.upcoming-plan{
    margin-top: 100px;
}
.upcoming-plan-container {
    width: 75vw;
    height: 60vh;
    margin: 0 auto;
    border-radius: 25px;
    margin-bottom: 25px;


    /* border: red 2px solid; */
}

.upcoming-plan-container-text-title {
    margin: 50px;
    display: flex;
    justify-content: center;
    margin-bottom: 70px;
}

.upcoming-plan-container-images {
    grid-template-columns: repeat(3, 1fr);
   justify-items: center;
   gap: 50px;

  
}

.images-card {
    width: 40vh;
    height: auto;
    text-align: center;
    background-color: rgba(74, 69, 69, 0.664) ;
    border-radius: 20px;

    /* border: green 2px solid; */
}

.images-card>img {
    width: 90%;
    height: fit-content;
   margin-top: 15px;
    border-radius: 20px;

    /* border: rebeccapurple 2px solid; */
}

.enroll-btn{
    width: 30vh;
    margin-bottom: 10px;
}



/* bmi calculator scetion styles==============  */

.bmi-calculator {
    width: 99.5vw;
    height: max-content;

    margin: 2% auto;

    /* border: aquamarine 2px solid; */
}

.bmi-calculator-container {
    width: 30vw;
    height: max-content;
    margin: 0 auto;
    text-align: center;

    /* border: indianred 2px solid; */

}

.bmi-calculator-container-title {
    margin: 0;
}


/* bmi calculate table section styels  */

.bmi-chart {
    background-color: rgba(74, 69, 69, 0.664);

    margin: 2% auto;
    height: 45vh;

    /* border: fuchsia 2px solid; */

}

.bmi-chart-container {
    width: 75vw;
    height: calc(45vh - 60px);
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0px;


    /* border:gold 2px solid */

}

.bmi-table {
    width: 30vw;

    /* border: mediumpurple 2px solid; */
}

.bmi-table-title {
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
}

td {
    padding: 15px;
    border: gray 2px solid;
    text-align: center;
}

thead>tr>td {
    font-size: 1.2rem;
    font-weight: 700;

}

tbody>tr>td {
    font-size: 0.9rem;
    color: rgba(210, 198, 198, 0.918);
    font-weight: 400;
    opacity: 0.8;
}


table {
    width: 30vw;
    padding: 20px 0px;
    margin-top: 15px;
    border-collapse: collapse;
}

.bmi-input {
    width: 35vw;


    /* border: red 2px solid; */
}

.bmi-input-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin: 20px 0px;
}

.height-container {

    width: calc(17.5vw - 10px);
    height: 40px;
    background-color: rgba(106, 99, 99, 0.697);
    color: aliceblue;
    border: none;
    border-radius: 8px;



}


.factor-container {

    width: 35vw;
    height: 40px;
    background-color: rgba(106, 99, 99, 0.697);
    color: aliceblue;
    border: none;
    border-radius: 8px;
    margin-bottom: 30px;
}

/* teeam member sction styles ======== */

.team {
    width: 99.5vw;
    height: max-content;
    margin: 0 auto;

    /* border: goldenrod 2px solid; */

}

.team-container {
    width: 75vw;
    height: max-content;
    margin: 2% auto;

    /* border:firebrick 3px solid; */
}

.team-container-text {
    width: 25vw;
    height: max-content;
    margin: 0 auto;
    text-align: center;

    /* border: navy 2px solid; */

}

.team-container-text-title {
    margin: 0;
}

.team-info {
    background-color: rgba(74, 69, 69, 0.664);
    width: 75vw;
    height: 80vh;
    margin-top: 50px;
    padding: 10px 0px;

    border-radius: 15px;
}


.team-info-container {
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    gap: 15px;
    padding: 10px;
    align-content: center;
}

.info-card {
    width: 22vw;
    height: 38vh;
    border-radius: 15px;



    /* border: forestgreen 2px solid; */
}

.info-card>img {
    width: 100%;
    height: 100%;
    border-radius: 15px;

}

.info-card-text {
    position: relative;
    bottom: 90px;
    left: 15px;
}

.info-card-text-title {
    font-size: 1.3rem;
    font-weight: 700;
    margin: 0;
}

.info-card-text-subtitle {
    font-size: 0.9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
}

footer {
    background-color: rgba(10, 10, 10, 0.794);
    width: 99.5vw;
    height: 40vh;
    margin: 0 auto;
    padding-bottom: 20px;


}

.footer-container {
    justify-content: space-between;
    width: 75vw;
    height: max-content;

    margin: 0 auto;

    /* border: tan 2px solid; */

}

.footer-container-text {
    width: 20vw;
    height: max-content;

    /* border: green 2px solid; */
}

.footer-brand {
    color: rgb(230, 83, 60);
    font-size: 2.5rem;
    font-weight: 900;
    font-style: italic;

}


.footer-container-text-title {
    font-size: 2rem;
    font-weight: 700;
    color: white;
}

.footer-hr-container {
    width: 75vw;
    margin: 2% auto;

}


hr {
    color: rgba(30, 27, 27, 0.634);
}

#copyright-subtitle-id {
    display: flex;
    justify-content: center;
}